{
  "semi": false,
  "singleQuote": true,
  "proseWrap": "always",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSameLine": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2
}
